**/plan-out
.terraform.lock.hcl
**/.terraform/
terraform.tfstate*
lambda/iam_event_monitor.zip
secret.tfvars
.terraform.tfstate.lock.info
infracost/*
function/rag_db_query.zip
tfstate.json
function/iam_event_monitor.zip
