---
# Source: https://pre-commit.com/hooks.html
# pre-commit install
# pre-commit autoupdate
# pre-commit run --all-files --verbose
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        description: Trims trailing whitespace.
      - id: end-of-file-fixer
        description: Makes sure files end in a newline and only a newline.
        exclude: .cache_ggshield
      - id: double-quote-string-fixer
      - id: debug-statements
        verbose: true
      - id: name-tests-test
        verbose: true
      - id: requirements-txt-fixer
        verbose: true
      - id: check-added-large-files
        args: [--maxkb=10000]
        verbose: true
        log_file: 'true'
      - id: check-xml
        verbose: true
      # - id: check-yaml
      #   verbose: true
      #   args: [--allow-multiple-documents]
      - id: check-json
        verbose: true
      - id: pretty-format-json
        args: [--autofix]
        verbose: true
      - id: detect-aws-credentials
      # - id: detect-private-key
      #   exclude: gitleaks-report.json
      - id: check-merge-conflict
      # - id: check-vcs-permalinks
      - id: forbid-new-submodules
      - id: no-commit-to-branch
        args: ['--branch', 'master']
      - id: check-executables-have-shebangs
      # Cross platform
      - id: mixed-line-ending
        args: [--fix=lf]

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: forbid-crlf
        name: pre-commit-hooks (Lucas-C - useful git hooks)
        verbose: true
      - id: remove-crlf
        description: Remove CRLF Line breaks
        exclude: .pre-commit-config.yaml
      - id: forbid-tabs
        verbose: true
      - id: remove-tabs
        verbose: true
        args: [--whitespaces-count, '2']  # defaults to: 4

  - repo: https://github.com/asottile/setup-cfg-fmt
    rev: v2.7.0
    hooks:
      - id: setup-cfg-fmt
        name: setup-cfg-fmt (apply a consistent format to setup.cfg files)

  - repo: https://github.com/crate-ci/typos
    rev: v1.29.8
    hooks:
      - id: typos
        name: typos (Finds and corrects spelling mistakes)
        args: [-v]
        exclude: gitleaks-report.json|charts/|helm-template-example/

  # - repo: https://github.com/lyz-code/yamlfix/
  #   rev: 1.16.0
  #   hooks:
  #     - id: yamlfix
  #       exclude: charts/|helm-template/

  # - repo: https://github.com/adrienverge/yamllint
  #   rev: v1.35.1
  #   hooks:
  #     - id: yamllint
  #       name: yamllint (linter for YAML files)
  #       args: [--format, auto]
  #       exclude: charts/|helm-template/

  # - repo: https://github.com/PeterMosmans/jenkinslint
  #   rev: v1.0.0
  #   hooks:
  #     - id: jenkinslint
  #       name: jenkinslint (basic Jenkinsfile linter)

  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.14.0
    hooks:
      - id: reorder-python-imports
        name: reorder-python-imports (Tool for automatically reordering python imports)
        args: [--py39-plus, --add-import, from __future__ import annotations]
        exclude: ^(pre_commit/resources/|testing/resources/python3_hooks_repo/)

  - repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
      - id: autopep8
        name: autopep8 (Style Guide Enforcement)

  # - repo: https://github.com/pryorda/dockerfilelint-precommit-hooks
  #   rev: v0.1.0
  #   hooks:
  #     - id: dockerfilelint
  #       name: dockerfilelint-precommit-hooks (Useful pre-commit hooks for checking
  #         Dockerfiles)
  #       stages: [commit]

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        name: detect-secrets (module for detecting secrets)
        args:
          - --baseline
          - .secrets.baseline
          - --disable-plugin
          - KeywordDetector
        exclude: gitleaks-report.json|charts/|helm-template-example/

  - repo: https://github.com/zricethezav/gitleaks
    rev: v8.24.0
    hooks:
      - id: gitleaks
        name: gitleaks
        description: Gitleaks is for detecting and preventing hardcoded secrets
        args: [--no-banner, --config=.gitleaks.toml]
      # - id: gitleaks-docker
      #   name: gitleaks-docker
      #   description: Detect hardcoded system docker secrets using Gitleaks
      #   args: [--no-banner, --config=.gitleaks.toml]
      # - id: gitleaks-system
      #   name: Detect hardcoded secrets
      #   description: Detect hardcoded system secrets using Gitleaks
      #   args: [--no-banner, --config=.gitleaks.toml]

  - repo: https://github.com/thoughtworks/talisman
    rev: v1.32.0
    hooks:
      - id: talisman-commit
        name: talisman (scans git to ensure that potential secrets or sensitive information)
        entry: cmd --githook pre-commit
        exclude: charts/.*|helm-template-example/.*

  # - repo: https://github.com/gitguardian/ggshield  # need token for use
  #   rev: v1.28.0
  #   hooks:
  #     - id: ggshield
  #       verbose: false
  #     - id: docker-ggshield
  #       name: ggshield (CI environment to detect secrets)
  #       always_run: true

  # - repo: https://github.com/norwoodj/helm-docs
  #   rev: v1.14.2
  #   hooks:
  #     - id: helm-docs
  #       name: helm-docs (auto-generates documentation from helm charts into markdown)
  #       exclude: charts/|helm-template-example/

  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shfmt
        args: ['-l', '-i', '2', '-ci', '-sr', '-w']
        verbose: true
      - id: shellcheck
        verbose: true

  - repo: https://github.com/hadolint/hadolint
    rev: v2.13.1-beta
    hooks:
      - id: hadolint
        args: [
          '--ignore', 'DL3007',   # Using latest
          '--ignore', 'DL3013',   # Pin versions in pip
          '--ignore', 'DL3027',   # Do not use apt
          '--ignore', 'DL3059',   # Docker `RUN`s shouldn't be consolidated here
          '--ignore', 'DL4006',   # Not related to alpine
          '--ignore', 'SC1091',   # Useless check
          '--ignore', 'SC2015',   # Useless check
          '--ignore', 'SC3037',   # Not related to alpine
        ]

  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: v4.0.0-alpha.8
  #   hooks:
  #     - id: prettier
  #       # https://prettier.io/docs/en/options.html#parser
  #       files: '.json5$'

  - repo: https://github.com/terraform-docs/terraform-docs
    rev: "v0.19.0"
    hooks:
      - id: terraform-docs-go
        name: terraform-docs-go
        verbose: true
        description: Generate documentation from Terraform modules in various output formats
        args: ["markdown", "table", ".", "--output-file", "README.md"]

  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.44.0
    hooks:
    - id: markdownlint
      name: Markdownlint
      description: Run markdownlint on your Markdown files
      args:
        - --fix
      files: \.(md|mdown|markdown)$

  - repo: local
    hooks:
      - id: infracost_breakdown_html
        name: infracost_breakdown_html
        entry: bash -c 'infracost breakdown --path=. --terraform-var-file=secret.tfvars --out-file=infracost/infracost-html.html --format=html'
        language: system

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: "v1.97.3"
    hooks:
      - id: terraform_docs
        verbose: true
        args:
          - --args=--config=.terraform-docs.yml
      - id: terraform_fmt
        name: terraform_fmt
        description: rewrite Terraform configuration files to a canonical format and style
        verbose: true
        # exclude: secret.tfvars
        # args:
        #   - --hook-config=--parallelism-ci-cpu-cores=1
      - id: terraform_providers_lock
        verbose: true
        # args:
        #   - --hook-config=--parallelism-limit=CPU*4
      - id: terraform_tflint
        verbose: true
        args:
          # - --args=--fix
          - --args=--config=.tflint.hcl
          - --args=--minimum-failure-severity=notice
      - id: terraform_checkov
        verbose: true
        args:
          - --args=--quiet
          - --args=--skip-check=CKV_AWS_26,CKV_AWS_338,CKV_AWS_117,CKV_AWS_35,CKV_AWS_158,CKV_AWS_173,CKV_AWS_272,CKV_AWS_35,CKV_AWS_158,CKV_AWS_116,CKV_AWS_115,CKV_AWS_50
      - id: infracost_breakdown
        name: infracost_breakdown_json
        description: Run infracost on your Terraform files, output as JSON
        verbose: false
        args:
          - --args=--path=.
          - --args=--terraform-var-file="secret.tfvars"
          - --args=--format="json"
          - --args=--out-file=infracost/infracost-json.json
      - id: infracost_breakdown
        name: infracost_breakdown_table
        description: Run infracost on your Terraform files, show in console
        verbose: true
        args:
          - --args=--path=.
          - --args=--terraform-var-file="secret.tfvars"
